@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@200&display=swap');
		* {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		}
		
		body {
		    background: rgb(207, 106, 111);
		    font-family: 'Josefin Sans', sans-serif;
		    color: #fff;
		    box-sizing: border-box;
		    margin: 20px 30px;
		    padding: 10px 20px;
		}

		
		.wrapper h1 {
		    font-family: 'Allura', cursive;
		    font-size: 60px;
		    margin-bottom: 25px;
		    text-align: center;
		    color: blue;
		}
		
		.menu {
		    display: flex;
		    text-align: right;
		    width: 100%;
		    justify-content: right;
		    float: right;
		}
		
		.menu .menu_item {
		    background: #000;
		    border: 3px solid black;
		    margin: 8px;
		    width: 90%;
		    padding: 20px;
		    line-height: 10px;
		    color: #CACFD2;
		    position: relative;
		}
		
		.menu .menu_item h3 {
		    color: #34495E;
		    position: relative;
		    bottom: 24px;
		    left: 22px;
		    font-size: 22px;
		    padding: 10px;
		    border: 3px solid black;
		    color: #fff; 
		    font-weight: bold;
		}
		
		.menu .menu_item p {
		    width: 90%;
		    font-size: 18px;
		    bottom: 10px;
		    line-height: 1.2;
		    color: #fff;
		    text-align: left;
		    padding:3px;
		    margin: 2px;
		}
		
		.menu .menu_item .domo {
		    color:white;
		    background: orange;
		}
		
		.menu .menu_item .domo {
		    background: #0000;
		}
		
		@media(max-width:992px) {
		    .menu {
		        flex-direction: column;
		        /* margin: 50px; */
		        padding: 30px;
		    }
		    
		}

		h3{
			font-size: 20px;
			width:40%;
			float: right;
			bottom:20px;
            padding: 10px 10px;
            box-sizing: border-box;
            text-align: right;

		}
		
	.menu > .menu_item > #t1{
		background: blue;


	}
	.menu_item > .domo > #t2{
		background: orange;

	}
	.menu > .menu_item > #t3{
		background: red;

	}

	.menu .menu_item{
		background: gray;
	}